.easy-tree {
    min-height: 20px;
    margin-bottom: 20px;
    color: gray;
    border: 0;
    border-top: 0;
    padding-bottom: 15px;
    overflow: auto;
}

.easy-tree > ul {
    padding-left: 15px
}

.easy-tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0;
    position: relative
}

.easy-tree li::after, .easy-tree li::before {
    content: '';
    left: -30px;
    position: absolute;
    right: auto
}

.easy-tree li::before {
    border-left: 1px solid #fff;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.easy-tree li::after {
    border-top: 1px solid #fff;
    height: 20px;
    top: 25px;
    width: 35px
}

.easy-tree li > span {
    border: 1px solid #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    text-decoration: none
}

.easy-tree li.parent_li > span {
    cursor: pointer
}

.easy-tree > ul > li::after, .easy-tree > ul > li::before {
    border: 0
}

.easy-tree li:last-child::before {
    height: 30px
}

.easy-tree li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
    background: rgba(255, 206, 0, 0.2); /*#b5b4b4;*/
    color: #746161;
}

.easy-tree li.parent_li > span:hover + ul li.li_selected span {
    background: #e5e2e1;
    color: #b5b4b4
}

.easy-tree li > span > a {
    color: #746161;
    text-decoration: none;
    white-space: nowrap;
}

.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
    margin-right: 5px
}

.easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
    background: #e5e2e1;
    color: #b5b4b4
}

.easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
    background: #fafafa;
    color: #b5b4b4
}

.easy-tree .easy-tree-toolbar {
    background-color: #fff
}

.easy-tree .easy-tree-toolbar > div {
    display: inline-block
}

.easy-tree .easy-tree-toolbar > div > button {
    border-radius: 0;
    margin: 20px 5px
}

.easy-tree .easy-tree-toolbar .create .input-group {
    top: -15px;
    margin-left: 5px;
    margin-right: 5px
}

.easy-tree .easy-tree-toolbar .create .input-group button, .easy-tree .easy-tree-toolbar .create .input-group input {
    border-radius: 0
}