.file-browser, .status-bar, .directory-tree {
    background-color: rgba(237, 237, 237, 0.13);
    border: 1px solid rgba(105, 105, 105, 0.11);
    border-radius: 6px;
    padding: 10px 15px;
}

.file-browser > .layer {
    overflow: auto;
}

.glyphicon-folder-close, .glyphicon-folder-open {
    color: #e6c234;
    margin-right: 5px;
}

.glyphicon-file {
    color: #acacac;
}

#file-browser-table-body .root {
    font-weight: 800;
    font-size: larger;
    letter-spacing: 6px;
}

#file-browser-table-body a {
    color: #746161;
}

#file-browser-table-body .root a {
    padding-left: 5px;
}

.status-bar {
    margin-top: 10px;
}

.status-bar span {
    font-weight: bold;
}