{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ExplorerBundle/Resources/static/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@ExplorerBundle/Resources/static/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function ($) {
            function init() {
                $('.easy-tree').EasyTree({
                    addable: false,
                    editable: false,
                    deletable: false
                });
            }

            window.onload = init();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="directory-tree"></div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="file-browser">
                            <div class="layer">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>MIME-тип</th>
                                        <th>Размер</th>
                                        <th>Создан</th>
                                        <th>Изменен</th>
                                    </tr>
                                    </thead>
                                    <tbody id="file-browser-table-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="status-bar">
                            Всего в репозитории <span id="files-in-repo">0</span> файла и <span
                                    id="dirs-in-repo">0</span> папок. Общий размер <span id="sizeof-repo">0</span> байт.<br/>
                            В текущем каталоге <span id="files-in-dir">0</span> файла и <span id="dirs-in-dir">0</span>
                            папок.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}